@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

input:focus::placeholder {
    color: transparent;
    transition: all 0.2s ease-in-out;
}

*:focus {
    outline: none;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 200px;
}

.logo {
    color: rgb(42, 42, 42);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    margin-bottom: 20px;
    cursor: default;
}

.box, #listBox {
    width: 500px;
}

#listBox {
    margin-top: 15px;
    background-color: whitesmoke;
}

.warning {
    font-size: 1.2rem;
    color: rgba(27, 47, 65, 0.685);
    padding: 10px;
    text-align: center;
    cursor: default;
    margin-top: 15px;
    background-color: whitesmoke;
}

#newTask {
    padding: 3px;
    height: 40px;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    border-bottom: solid rgb(146, 146, 146) 2px;
    background-color: rgba(245, 245, 245, 0.305);
    transition: all 0.5s ease;
    padding: 10px;
}


#newTask:hover {
    border-bottom: solid rgb(26, 26, 26) 2px;
    transition: all 0.5s ease-out;
    outline: none;
}

#newTask:focus {
    border-bottom: solid rgb(51, 118, 250) 2px;
    transition: all 0.5s ease-out;
    outline: none;
}

.clearButton {
    background-color: rgb(40, 136, 255);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clearButton:hover {
    color: black;
    transition: all 0.5s ease-out;
}

.buttons {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

#subButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#subButtons button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: all 0.5s ease;
}

#subButtons button:hover {
    color: rgb(0, 123, 255);
    transition: all 0.5s ease;
}

#listBox {
    display: flex;
    flex-direction: column;
}

#listBox .task {
    margin: 10px 0px 10px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.task::after {
    content: "";
    /*display: block; not needed when position:absolute used in this case*/
    position: absolute;
    background-color: #25252565;
    height: 1px;
    bottom:-10px;
    left: 0;/* match width of text and padding*/
    right: 0;/* match width of text and padding*/
    /* width: 20%;*/
}

.task p {
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    position: relative;
}

.task input[type="checkbox"] {
    width: 1.5rem;
}

.btnDelete {
    border: none;
    transition: all 0.5s;
    background-color: rgb(0, 123, 255);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.btnDelete:hover {
    color: rgb(52, 52, 52);
    cursor: pointer;
    transition: all 0.5s;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}